---
http_interactions:
- request:
    method: post
    uri: https://api.dhan.co/charts/intraday
    body:
      encoding: UTF-8
      string: '{"securityId":"invalid_id","exchangeSegment":"IDX_I","instrument":"INDEX","interval":"5","fromDate":"2024-01-15","toDate":"2024-01-15"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<DHAN_ACCESS_TOKEN>"
  response:
    status:
      code: 500
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errorCode":"INTERNAL_SERVER_ERROR","httpStatus":"INTERNAL_SERVER_ERROR","internalErrorCode":"RS-9005","internalErrorMessage":"For
        input string: \"invalid_id\""}'
  recorded_at: Sun, 12 Oct 2025 09:30:49 GMT
recorded_with: VCR 6.3.1
