---
http_interactions:

- request:
    method: post
    uri: https://api.dhan.co/v2/charts/intraday
    body:
      encoding: UTF-8
      string: '{"securityId":"13","exchangeSegment":"IDX_I","instrument":"INDEX","fromDate":"2024-01-15","toDate":"2024-01-16","interval":"5","dhanClientId":"<DHAN_CLIENT_ID>"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<DHAN_ACCESS_TOKEN>"
      Client-Id:
      - "<DHAN_CLIENT_ID>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"open":[22053.15,22053.65,22072.1,22070.1,22064.05,22064.45,22043.6,22020.0,21990.8,21983.8,22014.25,22018.5,22011.05,22018.15,22016.0,22024.55,22023.95,22031.25,22032.0,22031.15,22037.25,22046.3,22033.95,22041.35,22041.95,22048.3,22059.35,22056.8,22043.1,22036.25,22052.3,22053.85,22055.55,22050.25,22050.75,22060.55,22052.2,22061.25,22068.25,22060.7,22050.9,22056.5,22058.15,22054.4,22055.1,22060.45,22057.7,22055.35,22059.55,22062.65,22059.85,22058.6,22044.75,22053.45,22052.85,22030.8,22049.5,22064.05,22073.8,22083.5,22070.1,22068.85,22072.3,22065.0,22055.3,22070.05,22069.7,22080.55,22089.4,22095.0,22085.55,22089.75,22086.1,22099.9,22105.15,22110.45,22080.5,22072.3,22058.05,22061.25,22056.65,22067.6,22072.05,22091.25,22100.6,22079.7,22085.6,22080.05,22101.0,22089.7,22085.85,22095.05,22099.6,22110.1,22100.2,22118.0,22109.35,22113.8,22114.15,22113.55,22118.0,22108.05,22109.8,22110.15,22111.7,22105.4,22087.0,22091.3,22085.35,22106.45,22097.2,22067.9,22076.6,22066.7,22075.75,22082.15,22081.5,22073.75,22067.7,22048.9,22063.75,22054.95,22040.8,22026.05,22018.65,22009.95,22013.45,22026.4,21987.7,21989.35,22012.05,22020.55,22034.7,22043.3,22030.1,22038.75,22049.1,22051.5,22042.4,22040.7,22037.65,22031.25,22036.8,22041.85,22031.95,22041.45,22041.75,22040.7,22034.2,22024.6,22028.65,22031.5],"high":[22054.3,22074.75,22081.7,22079.65,22071.9,22068.85,22051.15,22030.4,22005.15,22014.05,22023.3,22028.9,22020.65,22024.95,22028.05,22037.55,22038.45,22035.95,22033.25,22037.2,22046.8,22047.9,22044.2,22046.25,22048.35,22060.9,22063.7,22058.35,22046.1,22052.95,22058.75,22059.7,22056.75,22056.45,22061.75,22061.1,22064.95,22069.4,22068.4,22063.5,22057.6,22059.65,22061.55,22058.65,22063.15,22063.75,22058.75,22061.0,22069.3,22066.05,22060.95,22059.0,22055.5,22058.6,22052.85,22055.6,22064.1,22074.0,22084.0,22083.9,22072.2,22074.45,22074.3,22068.5,22074.05,22073.7,22086.85,22088.95,22098.2,22104.35,22095.65,22091.55,22101.75,22108.85,22113.55,22110.45,22083.65,22072.3,22075.0,22078.95,22076.0,22074.65,22096.95,22107.65,22104.3,22093.15,22090.6,22102.75,22102.35,22096.2,22094.55,22100.0,22111.1,22111.25,22120.8,22118.95,22117.35,22116.7,22120.95,22123.55,22120.75,22112.55,22110.6,22112.3,22115.0,22106.45,22091.8,22094.8,22106.9,22107.6,22098.65,22080.9,22078.8,22079.05,22082.95,22090.95,22083.65,22078.2,22072.6,22068.65,22067.85,22056.4,22047.95,22037.65,22039.85,22024.25,22028.3,22026.55,21989.8,22018.8,22029.75,22037.5,22049.4,22049.95,22039.6,22057.75,22052.65,22058.45,22044.7,22053.25,22039.55,22041.75,22048.2,22051.95,22046.45,22046.3,22044.0,22044.45,22034.35,22033.05,22036.6,22031.5],"low":[22021.15,22052.3,22063.05,22059.0,22059.2,22042.8,22019.45,21989.05,21980.4,21964.1,22002.05,22006.55,22003.8,22008.5,22010.95,22020.95,22023.8,22022.05,22019.65,22028.1,22026.35,22032.0,22033.0,22037.55,22039.2,22045.55,22049.95,22040.65,22026.6,22030.65,22047.95,22049.6,22042.3,22046.15,22047.5,22049.0,22047.4,22053.2,22051.05,22047.1,22042.55,22051.15,22050.85,22051.0,22053.3,22053.75,22042.95,22050.55,22052.75,22057.2,22051.6,22043.45,22044.75,22048.3,22026.5,22029.1,22045.9,22054.7,22068.45,22065.05,22058.7,22066.9,22059.45,22054.45,22053.25,22063.95,22067.5,22075.25,22079.45,22083.15,22083.55,22082.35,22085.1,22096.15,22103.7,22110.45,22031.9,22041.1,22050.1,22056.4,22056.65,22051.9,22069.65,22088.3,22073.0,22062.65,22077.9,22080.0,22082.05,22082.45,22084.55,22087.45,22097.35,22100.35,22099.2,22101.6,22104.05,22110.1,22112.05,22112.05,22107.25,22099.65,22100.85,22101.2,22104.1,22084.7,22076.3,22079.4,22085.2,22096.75,22067.7,22062.2,22061.85,22066.15,22073.45,22078.55,22068.05,22066.5,22046.5,22047.3,22054.65,22041.5,22026.5,22009.5,22008.55,22008.75,22005.0,21982.45,21971.2,21989.35,22005.55,22004.35,22033.75,22028.0,22019.7,22037.5,22040.8,22036.45,22033.0,22034.55,22006.1,22028.1,22033.1,22032.3,22031.95,22028.35,22035.1,22032.45,22017.4,22016.35,22026.75,22031.5],"close":[22053.0,22074.55,22071.2,22065.15,22064.8,22042.8,22020.9,21992.0,21982.75,22014.05,22017.95,22010.25,22020.5,22015.7,22025.3,22024.0,22031.3,22031.2,22031.45,22037.2,22046.8,22034.8,22042.05,22042.1,22047.05,22059.45,22057.2,22043.45,22036.95,22052.9,22054.2,22055.9,22050.45,22050.55,22060.2,22052.1,22061.1,22068.2,22062.1,22051.3,22056.55,22058.55,22054.8,22055.75,22060.85,22058.45,22055.2,22059.85,22062.5,22060.05,22058.2,22046.2,22054.45,22052.3,22031.4,22049.6,22064.0,22073.85,22082.9,22070.7,22069.85,22071.95,22064.05,22055.45,22069.95,22070.45,22081.1,22088.95,22095.75,22085.85,22091.1,22086.9,22100.5,22104.65,22109.8,22110.45,22073.05,22056.3,22060.25,22056.4,22070.55,22071.65,22092.4,22100.95,22079.45,22085.15,22081.25,22100.65,22088.9,22085.85,22094.15,22099.65,22110.3,22101.1,22118.15,22109.05,22113.75,22114.65,22114.45,22118.75,22109.05,22109.85,22109.2,22112.3,22105.35,22087.3,22091.45,22085.15,22106.75,22098.35,22069.75,22077.8,22067.15,22077.0,22082.95,22083.0,22075.5,22069.1,22049.7,22066.3,22055.8,22042.5,22027.65,22019.0,22011.2,22013.6,22027.45,21989.9,21989.8,22013.0,22021.05,22035.35,22043.85,22030.65,22039.25,22049.4,22052.65,22044.85,22040.9,22038.4,22032.0,22038.45,22043.15,22033.65,22044.05,22042.85,22041.25,22034.3,22025.5,22028.3,22031.6,22031.5],"volume":[0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0],"timestamp":[1.7052903E9,1.7052906E9,1.7052909E9,1.7052912E9,1.7052915E9,1.7052918E9,1.7052921E9,1.7052924E9,1.7052927E9,1.705293E9,1.7052933E9,1.7052936E9,1.7052939E9,1.7052942E9,1.7052945E9,1.7052948E9,1.7052951E9,1.7052954E9,1.7052957E9,1.705296E9,1.7052963E9,1.7052966E9,1.7052969E9,1.7052972E9,1.7052975E9,1.7052978E9,1.7052981E9,1.7052984E9,1.7052987E9,1.705299E9,1.7052993E9,1.7052996E9,1.7052999E9,1.7053002E9,1.7053005E9,1.7053008E9,1.7053011E9,1.7053014E9,1.7053017E9,1.705302E9,1.7053023E9,1.7053026E9[...]
