---
http_interactions:
- request:
    method: post
    uri: https://api.dhan.co/charts/intraday
    body:
      encoding: UTF-8
      string: '{"securityId":"13","exchangeSegment":"IDX_I","instrument":"INDEX","interval":"5","fromDate":"2024-01-15","toDate":"2024-01-15"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ACCESS_TOKEN>"
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errorCode":"NONE","httpStatus":"BAD_REQUEST","internalErrorCode":"RS-9005","internalErrorMessage":"Data
        not available"}'
  recorded_at: Sun, 12 Oct 2025 09:30:49 GMT
recorded_with: VCR 6.3.1
