---
http_interactions:
- request:
    method: post
    uri: https://api.dhan.co/v2/marketfeed/ltp
    body:
      encoding: UTF-8
      string: '{"NSE_EQ":[13247],"dhanClientId":"<DHAN_CLIENT_ID>"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<DHAN_ACCESS_TOKEN>"
      Client-Id:
      - "<DHAN_CLIENT_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"NSE_EQ":{"13247":{"last_price":0}}},"status":"success"}'
  recorded_at: Mon, 09 Mar 2026 19:26:43 GMT
recorded_with: VCR 6.4.0
