---
http_interactions:
- request:
    method: post
    uri: https://api.dhan.co/v2/charts/intraday
    body:
      encoding: UTF-8
      string: '{"securityId":"13","exchangeSegment":"IDX_I","instrument":"INDEX","interval":"5","fromDate":"2024-01-15","toDate":"2024-01-15"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<DHAN_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"open":[22053.15,22053.65,22072.1,22070.1,22064.05,22064.45,22043.6,22020.0,21990.8,21983.8,22014.25,22018.5,22011.05,22018.15,22016.0,22024.55,22023.95,22031.25,22032.0,22031.15,22037.25,22046.3,22033.95,22041.35,22041.95,22048.3,22059.35,22056.8,22043.1,22036.25,22052.3,22053.85,22055.55,22050.25,22050.75,22060.55,22052.2,22061.25,22068.25,22060.7,22050.9,22056.5,22058.15,22054.4,22055.1,22060.45,22057.7,22055.35,22059.55,22062.65,22059.85,22058.6,22044.75,22053.45,22052.85,22030.8,22049.5,22064.05,22073.8,22083.5,22070.1,22068.85,22072.3,22065.0,22055.3,22070.05,22069.7,22080.55,22089.4,22095.0,22085.55,22089.75,22086.1,22099.9,22105.15,22110.45],"high":[22054.3,22074.75,22081.7,22079.65,22071.9,22068.85,22051.15,22030.4,22005.15,22014.05,22023.3,22028.9,22020.65,22024.95,22028.05,22037.55,22038.45,22035.95,22033.25,22037.2,22046.8,22047.9,22044.2,22046.25,22048.35,22060.9,22063.7,22058.35,22046.1,22052.95,22058.75,22059.7,22056.75,22056.45,22061.75,22061.1,22064.95,22069.4,22068.4,22063.5,22057.6,22059.65,22061.55,22058.65,22063.15,22063.75,22058.75,22061.0,22069.3,22066.05,22060.95,22059.0,22055.5,22058.6,22052.85,22055.6,22064.1,22074.0,22084.0,22083.9,22072.2,22074.45,22074.3,22068.5,22074.05,22073.7,22086.85,22088.95,22098.2,22104.35,22095.65,22091.55,22101.75,22108.85,22113.55,22110.45],"low":[22021.15,22052.3,22063.05,22059.0,22059.2,22042.8,22019.45,21989.05,21980.4,21964.1,22002.05,22006.55,22003.8,22008.5,22010.95,22020.95,22023.8,22022.05,22019.65,22028.1,22026.35,22032.0,22033.0,22037.55,22039.2,22045.55,22049.95,22040.65,22026.6,22030.65,22047.95,22049.6,22042.3,22046.15,22047.5,22049.0,22047.4,22053.2,22051.05,22047.1,22042.55,22051.15,22050.85,22051.0,22053.3,22053.75,22042.95,22050.55,22052.75,22057.2,22051.6,22043.45,22044.75,22048.3,22026.5,22029.1,22045.9,22054.7,22068.45,22065.05,22058.7,22066.9,22059.45,22054.45,22053.25,22063.95,22067.5,22075.25,22079.45,22083.15,22083.55,22082.35,22085.1,22096.15,22103.7,22110.45],"close":[22053.0,22074.55,22071.2,22065.15,22064.8,22042.8,22020.9,21992.0,21982.75,22014.05,22017.95,22010.25,22020.5,22015.7,22025.3,22024.0,22031.3,22031.2,22031.45,22037.2,22046.8,22034.8,22042.05,22042.1,22047.05,22059.45,22057.2,22043.45,22036.95,22052.9,22054.2,22055.9,22050.45,22050.55,22060.2,22052.1,22061.1,22068.2,22062.1,22051.3,22056.55,22058.55,22054.8,22055.75,22060.85,22058.45,22055.2,22059.85,22062.5,22060.05,22058.2,22046.2,22054.45,22052.3,22031.4,22049.6,22064.0,22073.85,22082.9,22070.7,22069.85,22071.95,22064.05,22055.45,22069.95,22070.45,22081.1,22088.95,22095.75,22085.85,22091.1,22086.9,22100.5,22104.65,22109.8,22110.45],"volume":[0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0],"timestamp":[1.7052903E9,1.7052906E9,1.7052909E9,1.7052912E9,1.7052915E9,1.7052918E9,1.7052921E9,1.7052924E9,1.7052927E9,1.705293E9,1.7052933E9,1.7052936E9,1.7052939E9,1.7052942E9,1.7052945E9,1.7052948E9,1.7052951E9,1.7052954E9,1.7052957E9,1.705296E9,1.7052963E9,1.7052966E9,1.7052969E9,1.7052972E9,1.7052975E9,1.7052978E9,1.7052981E9,1.7052984E9,1.7052987E9,1.705299E9,1.7052993E9,1.7052996E9,1.7052999E9,1.7053002E9,1.7053005E9,1.7053008E9,1.7053011E9,1.7053014E9,1.7053017E9,1.705302E9,1.7053023E9,1.7053026E9,1.7053029E9,1.7053032E9,1.7053035E9,1.7053038E9,1.7053041E9,1.7053044E9,1.7053047E9,1.705305E9,1.7053053E9,1.7053056E9,1.7053059E9,1.7053062E9,1.7053065E9,1.7053068E9,1.7053071E9,1.7053074E9,1.7053077E9,1.705308E9,1.7053083E9,1.7053086E9,1.7053089E9,1.7053092E9,1.7053095E9,1.7053098E9,1.7053101E9,1.7053104E9,1.7053107E9,1.705311E9,1.7053113E9,1.7053116E9,1.7053119E9,1.7053122E9,1.7053125E9,1.7053128E9]}'
  recorded_at: Sun, 12 Oct 2025 09:30:49 GMT
recorded_with: VCR 6.3.1
