---
http_interactions:
- request:
    method: get
    uri: https://api.dhan.co/v2/orders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<DHAN_ACCESS_TOKEN>"
  response:
    status:
      code: 401
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errorType":"Invalid_Authentication","errorCode":"DH-901","errorMessage":"Client
        ID or user generated access token is invalid or expired."}'
  recorded_at: Sat, 25 Jan 2025 09:04:35 GMT
recorded_with: VCR 6.3.1
