---
http_interactions:
- request:
    method: post
    uri: https://api.dhan.co/v2/orders
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ACCESS_TOKEN>"
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errorType":"Input_Exception","errorCode":"DH-905","errorMessage":"Missing
        required fields, bad values for parameters etc."}'
  recorded_at: Sat, 25 Jan 2025 09:17:45 GMT
recorded_with: VCR 6.3.1
