---
http_interactions:
- request:
    method: get
    uri: https://api.dhan.co/v2/unknown_error_endpoint
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<DHAN_ACCESS_TOKEN>"
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"timestamp":1737795526534,"status":404,"error":"Not Found","path":"/v2/unknown_error_endpoint"}'
  recorded_at: Sat, 25 Jan 2025 08:58:46 GMT
recorded_with: VCR 6.3.1
