---
http_interactions:
- request:
    method: post
    uri: https://api.dhan.co/v2/marketfeed/quote
    body:
      encoding: UTF-8
      string: '{"dhanClientId":"<CLIENT_ID>"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ACCESS_TOKEN>"
      Client-Id:
      - "<CLIENT_ID>"
  response:
    status:
      code: 429
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errorType":"Input_Exception","errorCode":"DH-904","errorMessage":"Too many requests on server from single user breaching rate limits. Try throttling API calls."}'
  recorded_at: Sat, 25 Jan 2025 09:06:18 GMT
recorded_with: VCR 6.3.1
