---
http_interactions:
- request:
    method: post
    uri: https://api.dhan.co/v2/margincalculator
    body:
      encoding: UTF-8
      string: '{"dhanClientId":"1000000132","exchangeSegment":"NSE_EQ","transactionType":"BUY","quantity":5,"productType":"CNC","securityId":"1333","price":1428,"triggerPrice":1427}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<DHAN_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"totalMargin":7140.0,"spanMargin":0.0,"exposureMargin":0.0,"availableBalance":0.0,"variableMargin":0.0,"insufficientBalance":0.0,"brokerage":0.0,"leverage":"1X"}'
  recorded_at: Sat, 25 Jan 2025 08:17:43 GMT
recorded_with: VCR 6.3.1
