---
http_interactions:
- request:
    method: post
    uri: https://api.dhan.co/v2/marketfeed/quote
    body:
      encoding: UTF-8
      string: '{"nSEFno":[49081],"dhanClientId":"<CLIENT_ID>"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ACCESS_TOKEN>"
      Client-Id:
      - "<CLIENT_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{},"status":"success"}'
  recorded_at: Sun, 02 Feb 2025 11:09:00 GMT
recorded_with: VCR 6.3.1
