---
http_interactions:
- request:
    method: post
    uri: https://api.dhan.co/v2/orders
    body:
      encoding: UTF-8
      string: '{"dhanClientId":"1000000003","transactionType":"BUY","exchangeSegment":"NSE_EQ","productType":"INTRADAY","orderType":"MARKET","validity":"DAY","securityId":"11536","quantity":5}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<DHAN_ACCESS_TOKEN>"
  response:
    status:
      code: 201
      message: 'Created'
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"orderId": "112111182198", "orderStatus": "PENDING"}'
  recorded_at: Sat, 15 Feb 2025 16:57:19 GMT
recorded_with: VCR 6.3.1
