---
http_interactions:
- request:
    method: post
    uri: https://api.dhan.co/v2/charts/historical
    body:
      encoding: UTF-8
      string: '{"securityId":"1333","exchangeSegment":"NSE_EQ","instrument":"EQUITY","expiryCode":0,"fromDate":"2025-01-23","toDate":"2025-01-24","dhanClientId":"<DHAN_CLIENT_ID>"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<DHAN_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"open":[1687.0],"high":[1687.0],"low":[1651.25],"close":[1664.9],"volume":[1.7454579E7],"timestamp":[1.7375706E9]}'
  recorded_at: Sat, 25 Jan 2025 09:54:55 GMT
recorded_with: VCR 6.3.1
