---
http_interactions:
- request:
    method: delete
    uri: https://api.dhan.co/v2/orders/112111182198
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ACCESS_TOKEN>"
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errorType":"Input_Exception","errorCode":"DH-905","errorMessage":"Missing
        required fields, bad values for parameters etc."}'
  recorded_at: Sat, 15 Feb 2025 16:22:41 GMT
recorded_with: VCR 6.3.1
