---
http_interactions:
- request:
    method: post
    uri: https://api.dhan.co/v2/marketfeed/ohlc
    body:
      encoding: UTF-8
      string: '{"NSE_FNO":[49081],"dhanClientId":"<CLIENT_ID>"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ACCESS_TOKEN>"
      Client-Id:
      - "<CLIENT_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"NSE_FNO":{"49081":{"last_price":0,"ohlc":{"open":0,"close":0,"high":0,"low":0}}}},"status":"success"}'
  recorded_at: Sat, 25 Jan 2025 09:50:57 GMT
recorded_with: VCR 6.3.1
