---
http_interactions:
- request:
    method: put
    uri: https://api.dhan.co/v2/orders/112111182198
    body:
      encoding: UTF-8
      string: '{"quantity":10,"price":1200.5}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<DHAN_ACCESS_TOKEN>"
  response:
    status:
      code: 201
      message: 'Created'
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"orderId": "112111182198", "orderStatus": "PENDING"}'
  recorded_at: Sun, 16 Feb 2025 06:23:37 GMT
recorded_with: VCR 6.3.1
