---
http_interactions:
- request:
    method: post
    uri: https://api.dhan.co/v2/charts/intraday
    body:
      encoding: UTF-8
      string: '{"securityId":"1333","exchangeSegment":"NSE_EQ","instrument":"EQUITY","interval":"1","fromDate":"2024-09-11","toDate":"2024-09-15","dhanClientId":"<DHAN_CLIENT_ID>"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<DHAN_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"open":[1650.4,1648.55,1648.65,1647.75,1646.2,1646.6,1646.2,1646.1,1645.15,1644.6,1644.45,1644.5,1642.65,1642.65,1642.1,1642.4,1643.6,1643.1,1643.55,1644.15,1643.65,1643.9,1644.4,1644.45,1645.75,1646.7,1646.05,1646.85,1647.2,1647.45,1647.9,1648.5,1649.25,1649.05,1649.25,1649.45,1649.2,1649.4,1649.1,1649.95,1649.9,1649.0,1649.7,1650.0,1649.35,1648.7,1648.65,1648.35,1647.9,1647.6,1648.25,1648.0,1648.25,1648.95,1648.8,1648.4,1648.7,1648.65,1648.5,1649.0,1649.5,1649.8,1649.2,1650.25,1650.45,1650.0,1649.95,[...]
