---
http_interactions:
- request:
    method: post
    uri: https://api.dhan.co/v2/orders
    body:
      encoding: UTF-8
      string: '{"correlationId":"correl-amo-1739720360","transactionType":"BUY","exchangeSegment":"BSE_EQ","productType":"CNC","orderType":"MARKET","validity":"DAY","securityId":"539310","quantity":5,"disclosedQuantity":"","triggerPrice":"","afterMarketOrder":true,"amoTime":"OPEN","boProfitValue":"","boStopLossValue":""}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"orderId":"752502167405","orderStatus":"TRANSIT"}'
  recorded_at: Sun, 16 Feb 2025 15:39:26 GMT
recorded_with: VCR 6.3.1
