---
http_interactions:
- request:
    method: get
    uri: https://api.dhan.co/v2/orders/952502167319
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<DHAN_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"dhanClientId":"<DHAN_CLIENT_ID>","orderId":"952502167319","exchangeOrderId":"0","correlationId":"NA","orderStatus":"CANCELLED","transactionType":"BUY","exchangeSegment":"BSE_EQ","productType":"CNC","orderType":"LIMIT","validity":"DAY","tradingSymbol":"THINKINK","securityId":"539310","quantity":20,"disclosedQuantity":0,"price":0.36,"triggerPrice":0.0,"afterMarketOrder":true,"boProfitValue":0.0,"boStopLossValue":0.0,"legName":"NA","createTime":"2025-02-16
        21:07:34","updateTime":"2025-02-16 21:07:34","exchangeTime":"0001-01-01 00:00:00","drvExpiryDate":"0001-01-01","drvOptionType":"NA","drvStrikePrice":0.0,"omsErrorCode":"0","omsErrorDescription":"","algoId":"0","remainingQuantity":0,"averageTradedPrice":0.0,"filledQty":0}]'
  recorded_at: Sun, 16 Feb 2025 15:41:54 GMT
- request:
    method: put
    uri: https://api.dhan.co/v2/orders/952502167319
    body:
      encoding: UTF-8
      string: '{"dhanClientId":"<DHAN_CLIENT_ID>","orderId":"952502167319","exchangeOrderId":"0","correlationId":"NA","orderStatus":"CANCELLED","transactionType":"BUY","exchangeSegment":"BSE_EQ","productType":"CNC","orderType":"LIMIT","validity":"DAY","tradingSymbol":"THINKINK","securityId":"539310","quantity":20,"disclosedQuantity":0,"price":0.36,"triggerPrice":0.0,"afterMarketOrder":true,"boProfitValue":0.0,"boStopLossValue":0.0,"legName":"NA","createTime":"2025-02-16
        21:07:34","updateTime":"2025-02-16 21:07:34","exchangeTime":"0001-01-01 00:00:00","drvExpiryDate":"0001-01-01","drvOptionType":"NA","drvStrikePrice":0.0,"omsErrorCode":"0","omsErrorDescription":"","algoId":"0","remainingQuantity":0,"averageTradedPrice":0.0,"filledQty":0}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<DHAN_ACCESS_TOKEN>"
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errorType":"Order_Error","errorCode":"DH-906","errorMessage":"Market
        is Closed! You cannot modify/cancel an order now."}'
  recorded_at: Sun, 16 Feb 2025 15:41:54 GMT
recorded_with: VCR 6.3.1
