---
http_interactions:
- request:
    method: get
    uri: https://sandbox.dhan.co/v2/profile
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<DHAN_ACCESS_TOKEN>"
      Client-Id:
      - "<DHAN_CLIENT_ID>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"dhanClientId":"<DHAN_CLIENT_ID>","tokenValidity":"06/04/2026 11:20","activeSegment":"Equity,
        Derivative, Currency, Commodity","ddpi":"Deactive","dataPlan":"Deactive"}'
  recorded_at: Sat, 07 Mar 2026 06:43:51 GMT
recorded_with: VCR 6.4.0
