name: Ruby Gem CI

on:
  push:
    branches:
      - main
      - master
    # Don't run on tags - release.yml handles that
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    strategy:
      matrix:
        ruby:
          - '3.3.4'
          - '3.2.0'
          - '3.1.0'

    steps:
      - uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Run tests
        run: bundle exec rake

      - name: Run RuboCop
        run: bundle exec rubocop
        continue-on-error: true
