---
http_interactions:
- request:
    method: get
    uri: https://api.dhan.co/v2/fundlimit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"dhanClientId":"<CLIENT_ID>","availabelBalance":115.64,"sodLimit":115.64,"collateralAmount":0.0,"receiveableAmount":0.0,"utilizedAmount":0.0,"blockedPayoutAmount":0.0,"withdrawableBalance":115.64}'
  recorded_at: Sat, 15 Mar 2025 09:46:16 GMT
recorded_with: VCR 6.3.1
