---
http_interactions:
- request:
    method: post
    uri: https://api.dhan.co/v2/charts/historical
    body:
      encoding: UTF-8
      string: '{"securityId":"1333","exchangeSegment":"NSE_EQ","instrument":"EQUITY","fromDate":"2024-01-01","toDate":"2024-01-31","expiryCode":0,"dhanClientId":"<DHAN_CLIENT_ID>"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<DHAN_ACCESS_TOKEN>"
      Client-Id:
      - "<DHAN_CLIENT_ID>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"open":[853.0,849.4,851.0,839.0,843.58,839.25,833.58,821.5,830.0,826.0,823.85,836.5,785.0,747.0,752.98,741.6,732.5,690.13,726.25,724.03,727.28],"high":[854.58,851.4,852.35,847.48,852.45,841.18,838.9,829.98,831.45,828.0,840.45,841.83,798.4,757.5,755.13,747.85,737.35,729.23,728.68,731.4,731.6],"low":[846.0,844.35,834.48,835.35,834.05,830.0,823.38,820.7,821.5,816.8,821.8,829.05,764.2,740.03,734.2,738.0,712.5,690.13,709.7,722.9,720.45],"close":[849.05,849.55,836.45,845.43,841.1,831.73,825.25,827.98,824.5,820.6,836.4,839.58,768.75,743.08,735.33,739.43,713.68,727.95,717.45,727.33,722.15],"volume":[7119843.0,1.4621046E7,1.4194881E7,1.3367028E7,1.5944735E7,8999235.0,1.2663444E7,8057912.0,9157005.0,9886776.0,1.4160178E7,1.266125E7,8.5072618E7,8.0535465E7,5.4800269E7,1.2920293E7,5.7734701E7,4.3002202E7,4.9470926E7,3.2822749E7,2.0864384E7],"timestamp":[1.7040474E9,1.7041338E9,1.7042202E9,1.7043066E9,1.704393E9,1.7046522E9,1.7047386E9,1.704825E9,1.7049114E9,1.7049978E9,1.705257E9,1.7053434E9,1.7054298E9,1.7055162E9,1.7056026E9,1.705689E9,1.7059482E9,1.7060346E9,1.706121E9,1.7064666E9,1.706553E9]}'
  recorded_at: Mon, 09 Mar 2026 19:43:33 GMT
- request:
    method: post
    uri: https://api.dhan.co/v2/charts/intraday
    body:
      encoding: UTF-8
      string: '{"securityId":"1333","exchangeSegment":"NSE_EQ","instrument":"EQUITY","fromDate":"2024-09-11","toDate":"2024-09-13","interval":"15","dhanClientId":"<DHAN_CLIENT_ID>"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<DHAN_ACCESS_TOKEN>"
      Client-Id:
      - "<DHAN_CLIENT_ID>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"open":[825.2,821.2,823.95,824.35,824.75,824.9,825.7,824.15,825.6,825.6,823.6,824.1,824.4,824.3,823.75,823.1,823.5,824.0,823.7,823.5,823.0,821.[...]
