---
http_interactions:
- request:
    method: post
    uri: https://api.dhan.co/v2/charts/historical
    body:
      encoding: UTF-8
      string: '{"securityId":"1333","exchangeSegment":"NSE_EQ","instrument":"EQUITY","expiryCode":0,"fromDate":"2024-01-01","toDate":"2024-01-31"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"open":[1706.0,1698.8,1702.0,1678.0,1687.15,1678.5,1667.15,1643.0,1660.0,1652.0,1647.7,1673.0,1570.0,1494.0,1505.95,1483.2,1465.0,1380.25,1452.5,1448.05,1454.55],"high":[1709.15,1702.8,1704.7,1694.95,1704.9,1682.35,1677.8,1659.95,1662.9,1656.0,1680.9,1683.65,1596.8,1515.0,1510.25,1495.7,1474.7,1458.45,1457.35,1462.8,1463.2],"low":[1692.0,1688.7,1668.95,1670.7,1668.1,1660.0,1646.75,1641.4,1643.0,1633.6,1643.6,1658.1,1528.4,1480.05,1468.4,1476.0,1425.0,1380.25,1419.4,1445.8,1440.9],"close":[1698.1,1699.1,1672.9,1690.85,1682.2,1663.45,1650.5,1655.95,1649.0,1641.2,1672.8,1679.15,1537.5,1486.15,1470.65,1478.85,1427.35,1455.9,1434.9,1454.65,1444.3],"volume":[7119843.0,1.4621046E7,1.4194881E7,1.3367028E7,1.5944735E7,8999235.0,1.2663444E7,8057912.0,9157005.0,9886776.0,1.4160178E7,1.266125E7,8.5072618E7,8.0535465E7,5.4800269E7,1.2920293E7,5.7734701E7,4.3002202E7,4.9470926E7,3.2822749E7,2.0864384E7],"timestamp":[1.7040474E9,1.7041338E9,1.7042202E9,1.7043066E9,1.704393E9,1.7046522E9,1.7047386E9,1.704825E9,1.7049114E9,1.7049978E9,1.705257E9,1.7053434E9,1.7054298E9,1.7055162E9,1.7056026E9,1.705689E9,1.7059482E9,1.7060346E9,1.706121E9,1.7064666E9,1.706553E9]}'
  recorded_at: Sat, 15 Mar 2025 09:48:44 GMT
- request:
    method: post
    uri: https://api.dhan.co/v2/charts/intraday
    body:
      encoding: UTF-8
      string: '{"securityId":"1333","exchangeSegment":"NSE_EQ","instrument":"EQUITY","interval":"15","fromDate":"2024-09-11","toDate":"2024-09-15"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"open":[1650.4,1642.4,1647.9,1648.7,1649.5,1649.85,1651.45,1648.3,1651.2,1651.2,1647.2,1648.2,1648.85,1648.65,1647.5,1646.15,1647.0,1648.0,1647.45,1647.05,1645.95,1643.9,1644.95,16[...]
