---
http_interactions:
- request:
    method: get
    uri: https://api.dhan.co/v2/holdings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<DHAN_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"exchange":"ALL","tradingSymbol":"NIFTYBEES","securityId":"10576","isin":"INF204KB14I2","totalQty":2,"dpQty":1,"t1Qty":1,"availableQty":2,"collateralQty":0,"avgCostPrice":252.05,"lastTradedPrice":251.06}]'
  recorded_at: Sat, 15 Mar 2025 09:54:36 GMT
recorded_with: VCR 6.3.1
