---
http_interactions:
- request:
    method: get
    uri: https://api.dhan.co/v2/ledger?from-date=2024-07-01&to-date=2024-07-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<DHAN_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"dhanClientId":"<DHAN_CLIENT_ID>","narration":"CLOSING BALANCE","voucherdate":"Jan
        01, 1970","exchange":"NSE_CASH","voucherdesc":"CLOSING BALANCE","vouchernumber":"","debit":"0.00","credit":"0.0","runbal":"0"},{"dhanClientId":"<DHAN_CLIENT_ID>","narration":"OPENING
        BALANCE","voucherdate":"Jan 01, 1970","exchange":"NSE_CASH","voucherdesc":"OPENING
        BALANCE","vouchernumber":"","debit":"0.00","credit":"0.0","runbal":"0"}]'
  recorded_at: Sat, 15 Mar 2025 09:56:35 GMT
recorded_with: VCR 6.3.1
