---
http_interactions:
- request:
    method: post
    uri: https://api.dhan.co/v2/marketfeed/ltp
    body:
      encoding: UTF-8
      string: '{"NSE_EQ":[11536,1333],"BSE_EQ":[49081,49082],"dhanClientId":"<DHAN_CLIENT_ID>"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<DHAN_ACCESS_TOKEN>"
      client-id:
      - "<DHAN_CLIENT_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"BSE_EQ":{},"NSE_EQ":{}},"status":"success"}'
  recorded_at: Sat, 15 Mar 2025 10:28:59 GMT
- request:
    method: post
    uri: https://api.dhan.co/v2/marketfeed/ohlc
    body:
      encoding: UTF-8
      string: '{"NSE_EQ":[1333],"dhanClientId":"<DHAN_CLIENT_ID>"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<DHAN_ACCESS_TOKEN>"
      client-id:
      - "<DHAN_CLIENT_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"NSE_EQ":{}},"status":"success"}'
  recorded_at: Sat, 15 Mar 2025 10:29:20 GMT
- request:
    method: post
    uri: https://api.dhan.co/v2/marketfeed/quote
    body:
      encoding: UTF-8
      string: '{"NSE_FNO":[49081,49082],"dhanClientId":"<DHAN_CLIENT_ID>"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<DHAN_ACCESS_TOKEN>"
      client-id:
      - "<DHAN_CLIENT_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"NSE_FNO":{}},"status":"success"}'
  recorded_at: Sat, 15 Mar 2025 10:30:55 GMT
- request:
    method: post
    uri: https://api.dhan.co/v2/v2/marketfeed/ltp
    body:
      encoding: UTF-8
      string: '{"NSE_EQ":[11536,1333],"BSE_EQ":[49081,49082],"dhanClientId":"<DHAN_CLIENT_ID>"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<DHAN_ACCESS_TOKEN>"
      Client-Id:
      - "<DHAN_CLIENT_ID>"
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"timestamp":1772865396527,"status":404,"error":"Not Found","path":"/v2/v2/marketfeed/ltp"}'
  recorded_at: Sat, 07 Mar 2026 06:36:36 GMT
- request:
    method: post
    uri: https://api.dhan.co/v2/v2/marketfeed/ohlc
    body:
      encoding: UTF-8
      string: '{"NSE_EQ":[1333],"dhanClientId":"<DHAN_CLIENT_ID>"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<DHAN_ACCESS_TOKEN>"
      Client-Id:
      - "<DHAN_CLIENT_ID>"
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"timestamp":1772865397506,"status":404,"error":"Not Found","path":"/v2/v2/marketfeed/ohlc"}'
  recorded_at: Sat, 07 Mar 2026 06:36:37 GMT
- request:
    method: post
    uri: https://api.dhan.co/v2/v2/marketfeed/quote
    body:
      encoding: UTF-8
      string: '{"NSE_FNO":[49081,49082],"dhanClientId":"<DHAN_CLIENT_ID>"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<DHAN_ACCESS_TOKEN>"
      Client-Id:
      - "<DHAN_CLIENT_ID>"
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"timestamp":1772865397780,"status":404,"error":"Not Found","path":"/v2/v2/marketfeed/quote"}'
  recorded_at: Sat, 07 Mar 2026 06:36:37 GMT
recorded_with: VCR 6.4.0
