---
http_interactions:
- request:
    method: post
    uri: https://api.dhan.co/v2/positions/convert
    body:
      encoding: UTF-8
      string: '{"dhanClientId":"1100003626","fromProductType":"INTRADAY","exchangeSegment":"NSE_EQ","positionType":"LONG","securityId":"1333","convertQty":1,"toProductType":"CNC"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<DHAN_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"success"}'
  recorded_at: Sat, 15 Mar 2025 10:55:00 GMT
recorded_with: VCR 6.3.1
