---
http_interactions:
- request:
    method: get
    uri: https://api.dhan.co/v2/trades/123456789
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<DHAN_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"orderId":"123456789","tradedQuantity":1,"tradedPrice":100.0}'
  recorded_at: Sat, 15 Mar 2025 10:51:00 GMT
recorded_with: VCR 6.3.1