---
http_interactions:
- request:
    method: get
    uri: https://api.dhan.co/v2/trades/2024-12-02/2024-12-31/0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<DHAN_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"dhanClientId":"<DHAN_CLIENT_ID>","orderId":"102241231491129","exchangeOrderId":"1100000179587123","exchangeTradeId":"0","transactionType":"BUY","exchangeSegment":"NSE_FNO","productType":"MARGIN","orderType":"MARKET","customSymbol":"FINNIFTY
        31 DEC 23450 PUT","securityId":"36832","tradedQuantity":25,"tradedPrice":1.75,"isin":"","instrument":"OPTIDX","sebiTax":0.0,"stt":0.0,"brokerageCharges":20.0,"serviceTax":3.6028,"exchangeTransactionCharges":0.0153,"stampDuty":0.0,"createTime":"NA","updateTime":"NA","exchangeTime":"2024-12-31
        14:07:11","drvExpiryDate":"2024-12-31 00:00:00","drvOptionType":"PUT","drvStrikePrice":23450.0},{"dhanClientId":"<DHAN_CLIENT_ID>","orderId":"102241231114329","exchangeOrderId":"1100000036206658","exchangeTradeId":"0","transactionType":"BUY","exchangeSegment":"NSE_FNO","productType":"MARGIN","orderType":"LIMIT","customSymbol":"FINNIFTY
        31 DEC 23450 PUT","securityId":"36832","tradedQuantity":75,"tradedPrice":30.0,"isin":"","instrument":"OPTIDX","sebiTax":0.0023,"stt":0.0,"brokerageCharges":20.0,"serviceTax":3.7444,"exchangeTransactionCharges":0.7882,"stampDuty":0.0,"createT[...]
