---
http_interactions:
- request:
    method: get
    uri: https://api.dhan.co/v2/trades
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<DHAN_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"dhanClientId":"<DHAN_CLIENT_ID>","orderId":"312507074433","exchangeOrderId":"1100000004845023","exchangeTradeId":"200764585","transactionType":"BUY","exchangeSegment":"NSE_EQ","productType":"CNC","orderType":"LIMIT","tradingSymbol":"DELHIVERY","customSymbol":null,"securityId":"9599","tradedQuantity":1,"tradedPrice":392.0,"createTime":"2025-07-07
        09:25:05","updateTime":"2025-07-07 09:25:05","exchangeTime":"2025-07-07 09:25:05","drvExpiryDate":"0001-01-01","drvOptionType":"NA","drvStrikePrice":0.0},{"dhanClientId":"<DHAN_CLIENT_ID>","orderId":"312507074643","exchangeOrderId":"1300000004551817","exchangeTradeId":"600653907","transactionType":"BUY","exchangeSegment":"NSE_EQ","productType":"CNC","orderType":"LIMIT","tradingSymbol":"TATACHEM","customSymbol":null,"securityId":"3405","tradedQuantity":1,"tradedPrice":940.0,"createTime":"2025-07-07
        09:25:06","updateTime":"2025-07-07 09:25:06","exchangeTime":"2025-07-07 09:25:06","drvExpiryDate":"0001-01-01","drvOptionType":"NA","drvSt[...]
